[bumpversion]
current_version = 0.7.1
commit = False
tag = False

[bumpversion:file:version.txt]
search = {current_version}
replace = {new_version}

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}
